@media all and (min-width:726px) {
    p{
        font-size: 1rem;
        line-height: 2;
    }

    h1{
        font-size: 1.8625rem;
    }

    .wrapper{
        margin: auto;
        margin-bottom: 24px;
        max-width: 725px;
    }

    .site-header,
    .wrapper{
        padding: 38px 45px;
    }

    .site-header{
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: auto;
        padding: 45px 0;

        .mobile-menu-icon{
            display: none;
        }

        .main-navigation-wrap{
            opacity: 1;
            background: transparent;
            position: relative;
            top: 0;
        }

        .main-menu{
            display: flex;
            justify-content: flex-end;

            .menu-item{
                border-bottom: none;

                a{
                    color: $white;

                    &:hover{
                        color:$card-border-color;
                    }
                }
                
            }
        }
    }

    .banner{
        background-image: url('/images/image-hero-desktop.jpg');
        min-height: 400px;
    }

    .section-1.wrapper{
        margin-top: -92px;
    }

    .btn-wrap{
        justify-content: space-between;
    }

    .btn-bookmark{
        background-image: url('/images/icon-bookmark.svg');
        background-repeat: no-repeat;
        padding-left: 65px;
        background-color: rgb(122 122 122 / 10%);
        color: $neutral-hover;
        display: inline-block;

        &:hover{
            opacity: 0.4;
            background-color: rgb(122 122 122 / 10%);
        }
    }

    .bookmark-wrapper span{
        display: none;
    }

    .bookmark-wrapper.active{
        .btn-bookmark{
            background-image: url('/images/icon-bookmark-o.svg');
            background-color: rgb(122 122 122 / 10%);
            color: $primary-hover;
        }
    }

    // Section 2
    .count-wrapper{
        display: flex;
        gap: 80px;
    }

    .total-count{
        text-align: left;
        flex: 0 0 25%;
    }

    .total-count:not(:last-child):after{
        width: 1px;
        height: 65px;
        bottom: auto;
        position: absolute;
        top: 0;
        right: -40px;
    }
    
    .card-title-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .more{
        margin-bottom: 0;
    }

    .card-title{
        font-size: 1.25rem;
    }

    .qty-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .qty p{
        margin-bottom: 0;
    }

    
}